.containerPlayer {
    display: flex;
    align-items: center;
    background-color: rgb(77, 77, 77);
    border-radius: var(--border-radius);
    padding: 0.4rem;
    color: white;
}

.containerPlayer>button {
    background-color: transparent;
    border: none;
    height: 1.7rem;
    display: flex;
    align-items: center;
}

.containerPlayer>button>i {
    color: white;
    font-size: 40px;
    padding: -2rem;
}

/* width de las 2 barras */
.containerPlayer>div {
    width: 100%;
    flex-grow: 1;
    padding: 0 .75rem;
}
.containerPlayer>span{
    font-weight: 700;
    font-size: 13px;
    width: 3.25rem;
}