.mainContainer {
    width: 72.5%;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.mainContainer>header {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 0.5rem 1rem;
}

.containerTable {
    margin-top: 2rem;
    width: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1rem 1.25rem;
}

.tableEpisodes {
    width: 100%;
    border-collapse: collapse;
}

.tableEpisodes>tr>th {
    text-align: left;
}

.tableEpisodes th {
    border-bottom: 4px solid rgba(197, 197, 197, 0.622);
    padding-bottom: 0.75rem;
    padding: 1rem;
}


.tableEpisodes>tr>td {
    padding: 1rem;
}

.trEpisodes {
    border-bottom: 2px solid rgb(233, 233, 233);
    padding-bottom: 0.75rem;
}

.thTitle {
    width: 70%;
}

/* Clase para distingir las filas */
.oddBackgroundColorRowEpisode {
    background-color: rgb(250, 250, 250);
}