:root {
  --border-radius: 5px;
  --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --link-color: #5eacc5;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

html,
body {
  padding: 0 3rem;
  max-width: 100vw;
  overflow-x: hidden;
}

ul{
  list-style: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}
hr {
  border: none; /* remove the default border */
  border-top: 1px solid #ccc; /* add a new top border */
  margin: 10px 0; /* add some margin to top and bottom */
}