.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin-top: 3.75rem;
    padding: 1rem;
}

.image {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100%;
    margin-top: -3.75rem;
}

.name,
.author {
    text-align: center;
    padding: 0.45rem 0rem;
}

.name {
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(29, 29, 29);
    font-weight: 600;
}

.author {
    font-size: 15px;
    color: rgb(118, 118, 118);
    font-weight: 400;
}